<h1>Sample toppage</h1>
<div>
  <p>Following URL is available by default.</p>
  <ul>
    <li><a href="/admin/">Django admin</a></li>
    <li><a href="/api/drf/">Django Rest Framework</a></li>
    <li><a href="/api/posts_by_user/1">Using DRF as view and Orator as model to join table</a></li>
  </ul>
</div>